<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>tp-10</title>
</head>

<body>

    <div class="series">
    @for (int i = 0; i < ViewBag.MostrarInfoSerie.Count; i++)
        {            
        <div class="serie">
            <img src="\img\series\@ViewBag.MostrarInfoSerie[i].ImagenSerie" style="width:400px">
            <div class="container">
                <h2><b>@ViewBag.MostrarInfoSerie[i].Nombre</b></h2>
                <button type = "button" class = "btn btn-primary" data-toggle = "modal" data-target = "#ModalSerie" onclick = "MostrarInfo(@ViewBag.MostrarInfoSerie[i].IdSerie)"
                >Ver Más</button>
                <button type = "button" class = "btn btn-primary" data-toggle = "modal" data-target = "#ModalActor" onclick = "MostrarInfoActor(@ViewBag.MostrarInfoActor[i].IdActor)"
                >Actores</button>
                <button type = "button" class = "btn btn-primary" data-toggle = "modal" data-target = "#ModalTemporadas" onclick = "MostrarInfoTemporadas(@ViewBag.MostrarInfoTemporada[i].IdTemporada)"
                >Temporadas</button>
            </div>

        </div>    
        }
    </div>

    <div class="modal fade" id="ModalSerie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hiddens = "true">
  <div class="modal-dialog">
    <div class = "modal-content">
      <div class="modal-header">
        <h5 class = "modal-title" id = "NombreActor"></h5>
        <h5 class = "modal-title" id = "NombreSerie"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden= "true">&times;</span>>
        </button>
      </div>
      <div class="modal-body">
        <img class = "img-fluid" id="FotoSerie">
        <div id = "SinopsisSerie"></div>
        <div id="AnioInicio"></div>
        <div id = "NumeroTemporada"></div>
        <div id = "TituloTemporada"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
      </div>
    </div>
  </div>
</div>

    
</body>

</html>